@model NM_Velo_LACS.Models.Achat

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<div>
    <h4>Achat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fournisseur.Nom_Fournisseur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fournisseur.Nom_Fournisseur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Velo.Marque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Velo.Marque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Achat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Achat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editer", "Edit", new { id = Model.IDAchat }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
